# Include requirement dependencies
include requirements.txt
include requirements-dev.txt
include requirements-conda.txt

# Include core docs
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

# Include test cases
recursive-include tests *

# Include documentation
recursive-include docs *.rst conf.py Makefile make.bat

# Exclude Python build files
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
