# Libraries required for Autolysis

# For setup
setuptools >= 16.0          # 16.0 has good error message support

# Anaconda libraries (listed for other environments e.g. travis)
pandas >= 0.17              # Installs NumPy and python-dateutil
scipy >= 0.16
blaze >= 0.8

# General utilities
six                         # Python 3 compatibility
pathlib                     # Manipulate paths. Part of Python 3.3+
orderedattrdict
