# Additional libraries required to build Autolysis

# Development
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
cryptography
PyYAML

# Documentation
sphinx_rtd_theme

# Testing
markdown
PyMySQL
psycopg2
sqlalchemy-utils
