# Libraries required for Autolysis

# For setup
setuptools >= 16.0          # 16.0 has good error message support

# General utilities
six                         # Python 3 compatibility
pathlib                     # Manipulate paths. Part of Python 3.3+
orderedattrdict >= 1.4.2    # Treat ordered dict keys as attributes
